.card_container {
	width: 46vw;
	height: 355px;
	background-color:#fff;
  margin-right:2vw;
}

.card_img {
  width: 46vw;
  height: 224px;
}

.card_title {
	width: 140px;
	height: 44px;
	font-family: NotoSansCJKkr;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.38;
	text-align: left;
	color: #2c2c2c;
  margin-top: 7px;
}

.card_harvest_date {
  width: 82px;
	height: 14px;
	font-family: NotoSansCJKkr;
	font-size: 14px;
	line-height: 1.0;
	text-align: left;
	color: #417505;
  margin-top: 4px;
}

.card_left_quantity {
	width: 92px;
	height: 20px;
	font-family: NotoSansCJKkr;
	font-size: 14px;
	text-align: left;
	color: #2c2c2c;
  margin-top: 6px;
}

.card_price {
	width: 76px;
	height: 30px;
	font-family: NotoSansCJKkr;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #2c2c2c;
  margin-top: 6px;
}
